extends layout

block content
    form#subForm(action='/submit',method='post')
        p 
            b
                label RepoName:
        p 
            input(type='text',name='reponame')
        p
            b 
                label RepoURL:
        p
            input(type='text',name='repourl',style='width: 400px;')
        p
            b
                label Description:
        p
            textarea(name='desc',style='width: 400px; height: 100px')
        p
            input.btn(type='submit',value='提交链接')
