#background{
    width: 960px;
}

#cont{
    margin-top: 30px;
}

.gitname{
    margin: 0;
    font-size: 13px;
}

.details{
    color: #999;
}

.main{
    margin-bottom: 30px;
}

.repoName:hover{
    color: #69C;
}

p{
    margin: 0;
}